:root {
    --fs--very-small: 0.6rem;
    --fs--special-small: 0.9rem;
    --fs-small: 1.1rem; 
    --fs-medium: 1.8rem; 
    --fs-big: 25px; 
}

/* lap */
@media (min-width: 1000px) {
    :root {
        --fs--very-small: 0.9rem;
        --fs--special-small: 1.2rem;
        --fs-small: 1.4rem; 
        --fs-medium: 2.25rem; 
        --fs-big: 3rem; 
    }
}

/* des */
/* @media (min-width: 1700px) {
    :root {
        --fs-small: 24px; 
        --fs-medium: 36px; 
        --fs-big: 45px; 
    }
} */